* {
    box-sizing: border-box;
    font-family: monospace;
}
#screenContainer{
    display: flex;
    justify-content: center;
}
#title{
    position: absolute;
    margin-top:20px;
}
#screen{
    margin-top: 100px;
}
#reset{
    display: flex;
    justify-content: center;
}